@use "global" as *;
.swiper__box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  @include mq(md) {
  }
}

.swiper {
  //   width: 50%;
  @include mq(md) {
  }
}

.swiper-button-next {
  position: absolute;
  right: rem(-40);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: rem(20);
}

.swiper-button-prev {
  position: absolute;
  left: rem(-40);
  @include mq(md) {
  }
}

.swiper-container {
  @include mq(md) {
  }
}

.swiper-slide {
  padding-top: 66.6%;
  position: relative;
  @include mq(md) {
  }
}

.swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mq(md) {
  }
}

.slide1 {
  background: #333;
}
.slide2 {
  background: #f00;
}
.slide3 {
  background: #af0;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
}
